[2015-08-26 07:34] tmaslen opened #3 "Error param in callback is not an error object"
Hello,

Really liking openGraphScraper and finding it useful in my project, thanks for making it.

When I get the occasional error from a graph request, an error object is passed but its not a standard JavaScript error.  In the documentation it shows dealing with an error like this...

[code]

But this will output as `err: err` when there is an error.

Is there any chance you could throw a more me

[2015-08-27 12:24] YoannB commented on #3
Hi,

I read code of openGraphScraper and found this :

[code]

So if you have `err`, you can have more info in the second parameter `results`, like in example :

[code]
++

[2015-10-18 21:40] danofsteele opened #4 "og:video:url"
Thanks for the library. I've noticed that you're missing the alias for video tags, `og:video:url`. both Youtube and Vimeo appear to use this over `og:video`.

https://developers.facebook.com/docs/sharing/webmasters#video

[2016-02-05 21:44] jshemas commented on #3
YoannB is right, you have to look in the 'results' object to see the real error.

[2016-02-05 21:44] #3 closed

[2016-02-05 21:57] jshemas commented on #4
Hello! Thanks for the link! I have added both `og:video:url`and `og:video:secure_url` to the project.

[2016-02-05 21:57] #4 closed

[2016-05-15 08:25] tsmith123 opened #8 "Page not found error"
Using the following URL I'm getting a page not found error but when I navigate to the URL in my browser there is no issue. Is there a reason for this? I've had it working with other URLs.

URL: http://www.wemeanbusinesslondon.com/blog/2016/5/10/the-entrepreneur-spiration-series-going-nuts-for-pip-nut

[2016-05-15 15:44] jshemas commented on #8
Hello,

Just put in a fix! Please update to version `2.0.6`

Let me know if that works for you now.

[2016-05-15 19:56] tsmith123 commented on #8
Yeah this appears to be sorted now - thanks

[2016-05-15 19:56] #8 closed

[2016-05-18 16:21] tavosansal opened #9 "Add Twitter Name Meta Tags Support"
Hello,

This is not an issue necessarily but a feature request. I am wondering if it would be easy to add support for Twitter meta tags to show up in the scrape. I am trying to detect if a URL has twitter cards enabled (see: https://dev.twitter.com/cards/types/summary). I already use this library for scraping other open graph information and it would be extremely awesome if there was an option tha

[2016-05-18 16:56] jshemas commented on #9
Hey there,

This node modules is for scraping open graph data but it should be easy to update it to look for all those twitter tags too. I can probably look into this sometime this week.

[2016-05-18 17:02] tavosansal commented on #9
That would amazing!
Thank you for your quick reply!

[2016-05-22 20:11] jshemas commented on #9
Done. Please pull down the latest code. Let me know if you need anything else!

[2016-05-22 21:26] tavosansal commented on #9
Awesome...thanks for the help!

[2016-05-25 16:43] JeffWeim opened #10 "*example"
"The above eample will return something like..."

*example

[2016-05-25 16:44] keif commented on #10
+1

[2016-05-25 17:27] #9 closed

[2016-05-25 17:27] jshemas commented on #10
Fixed.

[2016-05-25 17:27] #10 closed

[2016-06-29 12:57] welearnit opened #15 "Access for Express, returned Bad Request URL valid"
Hi, Guys.
I executed script.js with code example
[code]
Returned all metadatas

But when i executed from express, returned Bad Request.
[code]
Whats Happened?

url: https://medium.com/@marcobrunobr/mvp-%C3%A9-coisa-do-passado-a-moda-agora-%C3%A9-mlp-4446fc476006#.lef2qqqhf

[2016-06-29 13:21] welearnit commented on #15
Hi guys, I worked with encodeURI(str) when put URL in front

[2016-06-29 13:21] #15 closed

[2016-08-10 11:02] ktrzeciaknubisa opened #19 "Feature request: return html markup"
It would be very useful to be able to receive full html source of remote site, e.g. as third callback's parameter, like:

[code]

[2016-08-29 17:34] jshemas commented on #19
This is possible. But if you just want the source of the page, you might be better off scraping it yourself.

[2016-08-29 18:36] ktrzeciaknubisa commented on #19
Thanks, but I didn't mean to have "just" the source of a page. Need both OG tags and source :)

[2016-08-29 18:41] jshemas commented on #19
Ah. Okay. I'll look into this.

[2016-09-01 16:01] ktrzeciaknubisa opened #23 "Feature request: parse from string rather than url"
The module fails for the following link:

This is because it does multiple redirects:

So I can use curl for getting the html contents myself, but I would like to use the scraper to parse from string.

[2016-09-04 21:23] jshemas commented on #19
You can now get the source back! Checkout version 2.3.2 of the package.

[2016-09-04 21:23] #19 closed

[2016-09-04 21:23] jshemas commented on #23
Hello! This is a neat idea! I'll look into it!

[2016-09-05 07:37] ktrzeciaknubisa commented on #19
Very nice, thank you ! :)

[2016-10-21 18:01] justmobilize opened #29 "Issue with handling encoding"
Currently for your recent adds to handle encoding, you are checking that `options.encoding === null` to see if you should try to detect the charset, but this by default is `undefined` so doesn't run. This should eighter have a default set, or be `if (options.encoding === null || options.encoding === undefined)`

[2016-11-16 22:56] ktrzeciaknubisa opened #30 "twitterImg.url incorrect"
So when I try to scrape https://github.com, I get:

[code]

whereas:

[code]

I see the following problems:
1. `twitter:image:height` did not get scraped
2. probably `twitter:image:src` got scraped instead of `twitter:image:height`
3. why there is `twitterImage.url` rather than `twitterImage.src` which would be more consistent to `twitter:image:src` (there is no `twitter:image:url` after all)?

[2016-11-20 10:44] pyrotechnick commented on #30
data.twitterImage.* and others fail for many sites including https://atom.io

The problem arises from the arbitrarily-ordered items defined by [`mediaMapperTwitterImage`](https://github.com/jshemas/openGraphScraper/blob/c56425016a4ef119683f4a9c276aa67837d6a3ee/app.js#L255)

[2016-11-23 05:22] fantasticsid opened #31 "provide a way to limit the data fetched?"
If url points to a large file (link to a document for example), it downloads the whole file before parsing the content. Since we are using cheerio, we probably can provide a way to specify the maximum bytes fetched, and still be able to get open graph tags from partial content?

[2016-11-24 03:45] jshemas commented on #30
Hello,

This has been fix in `open-graph-scraper@2.3.6`! Thanks for pointing it out! @pyrotechnick was right about the issue, so I added in some default values.

To answer number question number three, it's simple `url` because the rest of the object we send back uses `url` over `src`. I wanted to keep things consistent.

[2016-11-24 03:45] #30 closed

[2016-11-24 03:45] jshemas commented on #31
@fantasticsid Do you have an example URL of this, so I can test it?

[2016-11-24 04:16] fantasticsid commented on #31
https://downloads.slack-edge.com/mac_releases/Slack-2.3.2-macOS.zip

You can see the network request from activity monitor on mac, it will download the file. I think its just node request fetching the content

[2016-12-07 01:09] jshemas commented on #31
So we use `Request` to to do the actual HTTP call. I just looked at their readMe and there doesn't seem to be a build in limit. I did how ever find a stack overflow post on this topic.

http://stackoverflow.com/questions/25080121/node-js-and-request-limiting-the-file-size-of-downloaded-file

I can probably add this in, in the near future. But if you want to submit a pull request, that would be awe

[2016-12-07 01:37] jshemas commented on #29
I looked into this a bit. It looks like setting `encoding` to true or utf-8 will break other things. I'm not really sure if this is a issue or not.

[2016-12-12 14:22] magmumparis opened #32 "RangeError: Maximum call stack size exceeded"
.../node_modules/domutils/lib/querying.js:83
function findAll(test, elems){
                ^

RangeError: Maximum call stack size exceeded

occurs when calling ogs on a url that contains large image, e.g.

https://upload.wikimedia.org/wikipedia/commons/a/a2/Overlook_Hong_Kong_Island_north_coast,_Victoria_Harbour_and_Kowloon_from_middle_section_of_Lugard_Road_at_daytime_(enlarged_version_and_bette

[2016-12-19 15:45] justmobilize commented on #29
I'm currently setting `encoding` to null so it auto detects. I didn't look at other options since I want it to auto detect. What does it break? I'm happy to help and possibly send in a PR

[2016-12-27 09:08] muneeburrahman opened #33 "Unhandled Promise Rejection warning"
I am trying to fetch data for a number of links. It is giving the Unhandled Promise Rejection warning .
Following is the code

[code]

[2017-01-03 23:18] jshemas commented on #33
I just put in a fix for this, please update to version `2.4.0`

[2017-01-03 23:33] jshemas commented on #29
Okay, I updating the package to default `encoding` to `null`. Changes are in `2.4.1`

[2017-01-03 23:46] jshemas commented on #32
Neat bug! Thank you for the example URL. I'm not sure what is the best way of fixing this since `request` dose not have a "max page size" option build in.

I did however find this SO post: http://stackoverflow.com/questions/25080121/node-js-and-request-limiting-the-file-size-of-downloaded-file

I'll look into this more, but if you want to make a PR in the mean time, that would be awesome.

[2017-01-09 15:49] tmaslen commented on #32
I've had this issue before with open-graph-scraper. I think its to do with the fact that its trying to convert a binary file into a DOM via cheerio.

I get round this by screen the file types of what I pass to open-graph-scraper.

[2017-01-11 12:37] muneeburrahman commented on #33
Resolved . Thank you

[2017-01-11 12:37] #33 closed

[2017-01-12 01:43] jshemas commented on #32
This has been fixed in version `2.4.2` - We now make sure it's a html page before trying to get open graph info from it.

[2017-03-20 15:42] patrikhermansson commented on #29
Hi,
Not 100% this is the same issue but related to encoding. I get 'Error: Encoding not recognized: 'ansi_x3' (searched as: 'ansix3') ' now and then, looks like an issue with iconv. Throws an error which is a bit unfortunate. ansi_x3 is an alias for utf-8. Possible to handle this in open-graph-scraper, or at least not throw?

[2017-03-20 20:49] thg1101 opened #36 "Feature request: return content type for non-html requests"
Since the request has already been made, it would help to return the content type encountered when scraping resources that aren't HTML (such as images, media, etc).
This could be made as an extra parameter in the results object, so as to not break existing deployments.

[2017-03-27 19:21] saggiyogesh opened #37 "Not installing with node 7"
Since in package.json, `engines` are configured for node 6.x, yarn is not allowing to install it.
Please fix this.

[2017-03-28 23:27] jshemas commented on #37
I'm only supporting LTS at this time. (`6.10.1` at this time.)

https://nodejs.org/en/

[2017-03-28 23:27] #37 closed

[2017-03-29 00:08] jshemas commented on #36
Hello,

If you are using the latest version of the package(`2.5.0`) you can look the third param which is the response  object of the call. `response.headers['content-type']` will contain what you are looking for.

[2017-03-29 00:09] jshemas commented on #29
@patrikhermansson please make a new issue and add an example URL that will cause this issue.

[2017-03-30 07:34] thg1101 commented on #36
Perfect. Upgraded and modified my service, works like a charm. Thank you!

[2017-03-30 07:34] #36 closed

[2017-04-06 08:10] moehlone opened #38 "Return original request error"
Hi,

it would be very useful if any errors of the internal request could be passed back in the callback.

Example:

The internal request has the following error:
[code]

The error passed in the callback:
[code]

Troubleshooting is not possible in this way, without adding logs to the module :-(

[2017-05-01 22:37] jshemas commented on #37
This PR might solve your problem. https://github.com/jshemas/openGraphScraper/pull/39

[2017-05-30 00:41] leeeejuy opened #42 "cors!!!"
error:XMLHttpRequest cannot load https://www.naver.com/. Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'localhost:8000' is therefore not allowed access. The response had HTTP status code 404.

how should i do?

[2017-05-30 02:28] leeeejuy commented on #42
Must scrape an HTML page error...

[2017-06-13 03:16] jshemas commented on #42
Not really sure what you are asking. I'm able to scrape `https://www.naver.com/`

Can you give me a code example?

[2017-06-13 03:27] jshemas commented on #38
Hello!

Can you give me the URL that is causing this issue?

Also I have adding `errorDetails` in the return object in `open-graph-scraper@2.5.3`

example:
[code]

[2017-06-22 15:32] Vinu-MysteriousTechVision opened #43 "Integration issue"
Loading dependency graph, done.
error: bundling: UnableToResolveError: Unable to resolve module `url` from `../SampleOGP/node_modules/open-graph-scraper/app.js`:
Module does not exist in the module map or in these directories:
  ../SampleOGP/node_modules/open-graph-scraper/node_modules
,   ../SampleOGP/node_modules

This might be related to https://github.com/facebook/react-native/issues/4968
To r

[2017-06-27 07:27] moehlone commented on #38
Hi,

sorry - I was on vacation for the last weeks.

I expected those details in the first error callback parameter and did not noticed
the errorDetails within the result object.

Thank you!

[2017-06-27 07:27] #38 closed

[2017-06-27 08:16] cfinckler commented on #42
Are you trying to use this scraping library within the browser? That ist not possible. Inside the browser you cannot access other hosts.If you need the result in the browser you must implement a backend interface which uses this library.

[2017-06-28 21:14] jshemas commented on #43
I'm not really sure what you are trying to say. The module `url` I use is apart of Node.js

https://nodejs.org/api/url.html

[2017-07-09 11:57] feedyourmind opened #45 "content-type text/html misread"
Sometimes it thinks a response is not text/html, even though it is.
For example, with https://www.namecheap.com/ , a very popular dns provider
It should be able to give the ogs info, but it fails with error.
There is a check in the code:
else if (!(response && response.headers && response.headers['content-type'] && response.headers['content-type'].indexOf('text/html') !== -1)) {
        callback('

[2017-07-14 09:05] Vinu-MysteriousTechVision commented on #43
@jshemas
Thanks for the reply, understand that the problems of node.js. but I can't resolve the error.

If you have any suggestion to solve the issue, kindly help for this.

[2017-07-19 00:36] jshemas commented on #45
Very interesting! I'll have to think about this for a bit.

[2017-07-24 14:00] cccaballero opened #46 "forbes.com articles are allways showing home page OG data"
Forbes shows first the home page, and after a few seconds it redirects to the article page, so openGraphScraper is loading the home page OG tags, but facebook (by example) show the proper OG tags if I use the article link

[2017-08-11 21:44] jamigibbs commented on #42
@leeeejuy This might help clear things up for you: https://stackoverflow.com/questions/45569805/fetching-open-graph-metadata-with-create-react-app

[2017-10-01 03:34] jshemas commented on #46
Hello!

Thanks for opening a issue. Can you give me a example URL to test?

In https://github.com/jshemas/openGraphScraper/pull/48 I added a test for `https://www.forbes.com/sites/kenkam/2017/09/28/3-stocks-like-apple-was-10-years-ago-tesla-nvidia-and-alibaba/#2636f6c2f0fa` and that seems to work.

[2017-10-01 03:59] jshemas commented on #45
In https://github.com/jshemas/openGraphScraper/pull/48 i've update the way it checks for HTML pages and added a test for namecheap.com

[2017-10-01 04:01] jshemas commented on #42
going to close this as a non-issue. let me know if you have any other problems.

[2017-10-01 04:01] #42 closed

[2017-10-01 04:02] jshemas commented on #43
I would have to see your codebase or code snippet to help debug this.

[2017-10-01 04:02] #32 closed

[2017-10-01 04:04] jshemas commented on #31
In https://github.com/jshemas/openGraphScraper/pull/48 i'm just going to try and limit scraping of HTML only pages.

[2017-10-01 04:04] #31 closed

[2017-10-01 04:04] #29 closed

[2017-10-01 04:13] jshemas commented on #23
Adding a test for this in https://github.com/jshemas/openGraphScraper/pull/48

[2017-10-03 21:55] jshemas commented on #43
going to close this for now

[2017-10-03 21:55] #43 closed

[2017-10-03 21:56] jshemas commented on #23
available in `3.0.0`

[2017-10-03 21:56] jshemas commented on #45
available in `3.0.0`

[2017-10-03 21:56] #45 closed

[2017-10-03 21:57] jshemas commented on #46
available in `3.0.0`

[2017-10-03 21:57] #46 closed

[2017-10-09 19:11] christianlacerda opened #49 "Server Has Ran Into A Error for Vimeo URLs"
Hi,

I've been testing your library, it is really helpful! However, I came across a vague error now. When testing from my local dev environment it is working fine, when deployed to the server I getting this error. The issue seems to be happening only for Vimeo URLs. Any ideas?

Request:
[code]
Result:
[code]

Thanks!

[2017-10-09 23:51] jshemas commented on #49
Hello!

So running:
[code]

will return this for me:

[code]

I went ahead and added a test for vimeo on this commit: https://github.com/jshemas/openGraphScraper/commit/d8876b3cfee19c9be24c18e52ee41090a888a026

If you are seeing the `Server Has Ran Into A Error` error, that means the website that you hit returned with a 4xx or a 5xx status code.

If you try this:
[code]

the `response` object shou

[2017-10-10 01:43] christianlacerda commented on #49
There it goes:

[code]

[2017-10-10 02:01] jshemas commented on #49
That's not the full response. Can you run the following and paste the output here.

[code]

[2017-10-10 20:12] christianlacerda commented on #49
Thanks @jshemas You got it!

It seems Vimeo is blocking out my requests, not sure yet how to workaround that though.

[code]

[2017-10-10 21:14] jshemas commented on #49
That's unfortunate... The only thing I can thing of is to try and use proxies.

It looks like `request` does support them:
https://github.com/request/request#proxies

I'm not really sure how to test this since I don't have access to a proxy.

[2017-10-11 17:11] christianlacerda commented on #49
That's ok, thanks @jshemas!

[2017-10-11 17:20] suprMax opened #50 "Consider starting a changelog or using tags/releases"
Hi! Thanks for the scraper, gets the job done so far! I've been using it for about a year now and after you released your last version I tried looking for a changelog and didn't see any. Because of this the change from `err` to `error` in the error response was unexpected for me and lead to some crashes. I still have no idea if anything else changed.

Could you please provide a summary of changes

[2017-10-14 21:05] ejb commented on #23
Hi, I can't see this feature documented anywhere, and I can't see it in the source code either. Am I missing something?

[2017-10-15 00:03] jshemas commented on #23
Hello, when I address this issue I fix the problem with the scraper not following redirects... But it looks like there was more to it.

Thanks for making the PR!

[2017-10-15 00:18] jshemas commented on #50
Thank you for using my module! I'm sorry my latest updates caused issues for you.

Adding a `CHANGELOG.md` is a great idea! You can see it here: https://github.com/jshemas/openGraphScraper/blob/master/CHANGELOG.md

[2017-10-18 01:39] jshemas commented on #23
PR had been merged. Changes can be found in `open-graph-scraper@3.1.0`

[2017-10-18 01:39] #23 closed

[2017-10-18 01:40] #50 closed

[2017-10-27 04:53] mrose17 opened #52 "open-graph-scraper@3.1.0 is not published"
the most recent version is `open-graph-scraper@3.0.2` which lacks the useful `html` option. help!

[2017-10-30 04:02] jshemas commented on #52
`3.1.0` is now on NPM. Thanks for making this issue!

[2017-10-30 04:02] #52 closed

[2017-10-30 04:03] mrose17 commented on #52
thank you fo the wonderful package!

[2017-10-30 04:13] jshemas commented on #52
Welcome! Let me know if you need anything else!

[2017-11-03 14:33] yakimko opened #53 "Add properties"
I found the following meta tags. Could you please add them?

[code]

[2017-11-04 18:18] jshemas commented on #53
Hello!

Making that change should be very easy. Do you have a example website that has those meta tags?

[2017-11-04 18:23] yakimko commented on #53
Hi!
Here you go https://www.michaelkors.com/mirabel-suede-sandal/_/R-US_40T6MBMS1S?color=1587.
I think they can have the same output properties as for og:product:*

[2017-11-05 01:37] jshemas commented on #53
Thanks for the link. Updating code to check for those meta tags.

Changes can be found in `open-graph-scraper@3.1.2`

[2017-11-05 01:37] #53 closed

[2017-11-15 21:36] ljtijhuis opened #55 "Suggestion: add retry functionality"
Let me start of with: great package! A happy user here :)

Then my problem: we are doing multiple requests at the same time and running in some `ESOCKETTIMEDOUT` errors. I did some tricks to improve this (for example improving the `UV_THREADPOOL_SIZE`), but cannot completely get rid of them. I am now building functionality to do a retry after some seconds, with a max retry setting. Would be awesom

[2017-11-17 04:19] jshemas commented on #55
I think this is great idea! Do you have any examples for this? You are welcome to open a PR if you want.

[2017-11-18 01:26] ljtijhuis commented on #55
Will have a look 👍

[2018-03-21 15:16] heymartinadams opened #60 "Unable to minify OGS"
Getting this error when using OGS in my create-react-app: https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify

[code]

Because code is < ES5?

[2018-03-21 22:48] jshemas commented on #60
Hello. I've never worked with react before. Is there a easy way I can reproduce this error?

[2018-03-26 23:49] torquemad commented on #60
If you're trying to run `npm run build` with create-react-
 app and not `npm run start`, this PR should fix the issue @jshemas @heymartinadams
 https://github.com/jshemas/openGraphScraper/pull/59

[2018-03-28 00:43] jshemas commented on #60
Cool. I was able to get this error happening locally for me. I'll look into it.

[2018-04-12 17:06] michaelforrest opened #61 "Doesn't seem to handle Amazon partner link redirects?"
When I scrape this Amazon url: https://amzn.to/2Is8sCR, I expect to see the same results as the Facebook debugger ([here](https://developers.facebook.com/tools/debug/sharing/?q=https://amzn.to/2Is8sCR)) which follows a redirect to [here](https://www.amazon.co.uk/Anatomy-Story-Becoming-Master-Storyteller/dp/0865479933/ref=as_li_ss_tl?ie=UTF8&qid=1522781655&sr=8-1&keywords=anatomy+of+story&linkCode=

[2018-04-13 02:18] jshemas commented on #61
Hello! Thanks for opening this issue.

In `open-graph-scraper@3.2.0` I updated the module to send back an array of all of the images on page if there isn't any open graph images.

[2018-04-14 23:08] RobinGiel commented on #60
Hi @jshemas, I'm currently having the same issue on line 46 when wanting to build with command yarn build. Did you find any work around for this issue @heymartinadams ?

[2018-04-14 23:34] RobinGiel commented on #60
OK, I found a work around @heymartinadams . I just manually minify the files that need to be minified. You'll get 2 more minify problems, line 19 on utils file and node_module charset index.js line 24.

On https://babeljs.io I used the following presets: Es2015, react option and stage-2 copy. After I paste the files and minified them there using the minify option.

Hope this works for you too. Che

[2018-04-15 01:59] jshemas commented on #60
Hello. I have refactored the code to be es5 compatible! Please use `open-graph-scraper@3.3.0` and let me know if you see anymore issues.

[2018-04-15 10:31] michaelforrest commented on #61
@jshemas thanks, I think that’s definitely a good addition. Have you checked it against my example though? I think something more complicated might be happening here - if I view source on the page the scraper sees it doesn’t have the open graph tags yet so I don’t know what the Facebook scraper is doing differently?

[2018-04-15 14:33] jshemas commented on #61
Hello, i'm not able to use the Facebook debugger since I don't have a facebook account. Facebook is probably doing a lot more then just scraping open graph info. What other information would you like OGS to pull back?

I can probably do a one off thing to get amazon reviews, if that is what you need.

[2018-04-15 14:40] michaelforrest commented on #61
Hi @jshemas, again thanks for responding. It's not the reviews bit per se (that just seems to be something Amazon adds into its thumbnails) it's more just figuring out what's weird about how / when Amazon exposes og tags  for its products. Seems weird what comes back from curl even.

[2018-04-15 14:41] michaelforrest commented on #61
It might not even be exposing og tags! But I'm sure I saw them on at least one product page!

[2018-04-15 14:48] michaelforrest commented on #61
No it does seem that Amazon doesn't expose opengraph tags after all, so Facebook must be making an exception to get this (maybe hitting an Amazon API). This all seems beyond the scope of `open-graph-scraper` so I'm happy to close this issue.

[2018-04-15 14:48] #61 closed

[2018-04-29 07:44] akirasakata opened #63 "Didn't get tags correctly"
Didn't get information correctly from "http://www.uniqlo.com/jp/store/goods/182567-08".
It is sample.

Below is test result
{ ogTitle: '{{meta.title}}',
     ogType: 'website',
     ogUrl: '{{meta.absUrl}}',
     ogSiteName: 'ユニクロ(UNIQLO)オンラインストア',
     ogDescription: '{{meta.description}}',
     ogImage: { url: '{{meta.ogImage}}', width: null, height: null, type: null } },
  success: true,
  requ

[2018-05-17 02:19] jshemas commented on #63
That looks like some kind of templating (like handlebars.js) that relays on JavaScript to run. `openGraphScraper` does not currently support those kinds of pages.

Using something like `puppeteer` might fix this issue.

https://github.com/GoogleChrome/puppeteer

[2018-05-23 04:56] akirasakata commented on #63
Thanks a lot. I understood what it mean.

[2018-05-23 04:56] #63 closed

[2018-06-19 05:17] santo-cold opened #65 "Can this be used on client side?"

[2018-06-26 23:30] jshemas commented on #65
I haven't tried this, but I believe it will work. Let me know if you have any issues.

[2018-06-26 23:30] #65 closed

[2018-08-29 01:04] ChengYuHin99 opened #68 "How to scrap author, publisher meta info"
Hi
How to scrap author, publisher meta info etc?
It will be better to set custom meta key for scrapping.
Is there any option for  this?
If so, please let me know.

Thanks.

[2018-08-30 21:44] jshemas commented on #68
Right now there isn't any way of setting custom meta key. Feel free to open a pull request for that feature!

[2018-09-06 11:03] CinKon commented on #65
I tried, but get the following errors:

![bildschirmfoto 2018-09-06 um 13 02 53](https://user-images.githubusercontent.com/3854991/45153700-3a5b1c00-b1d5-11e8-90e0-e6df25ca95fc.jpg)

[2018-09-07 04:48] jshemas commented on #65
@CinKon can you make a new issue and add steps to reproduce?

[2018-09-10 20:37] olivierlourme commented on #65
@santo-cold I made this module work in an Angular client app. I use https://cors.io/?url_to_reach to get around cors policy. Everything is fine except that my vendor.bundle.js went from 1.2 MB to 3.1 MB !!! @jshemas It's too big for a client.

[2018-09-11 00:10] jshemas commented on #65
@olivierlourme I'm guessing that is coming from `cheerio` or `request`. Nothing I can really do about that.

[2018-11-22 09:56] tomarad opened #69 "Dependency jschardet uses restrictive license"
The dependency `jschardet` uses an LGPL license.
Will open a PR soon for replacing with an MIT licensed project.

[2018-11-26 21:54] jshemas commented on #69
Good catch. I didn't notice that `jschardet` wasn't using the same license.

[2018-12-07 00:31] #69 closed

[2018-12-22 21:42] lawrence-edmondson opened #71 "ReferenceError: errorFlag is not defined"
I tried this on Runkit as well as my local machine and got the following error

ReferenceError: errorFlag is not defined
at parseGoogleNewsRSSData in googlenews-rss-scraper/index.js — line 75

[2018-12-22 21:43] #71 closed

[2019-01-05 18:29] mbodge opened #72 "Return response in promise"
Is it possible to return the full response when you're using the library with promises? It seems like that doesn't get returned.

[code]

[2019-02-13 19:42] saltire opened #74 "Update lodash to fix vulnerabilities"
Looks like there's an automated pull request for this issue: https://github.com/jshemas/openGraphScraper/pull/73

[2019-02-15 02:28] jshemas commented on #74
Fixed in `open-graph-scraper@3.6.1`

[2019-02-15 02:28] #74 closed

[2019-02-16 21:24] hamedb89 opened #75 "no data for medium.com urls from the iOS app"
This link doesn't throw an error but also doesn't scrape open graph data.
Anybody else having this problem?

https://link.medium.com/HozE2bvBmU

edit: the link above redirects to this one: https://rsci.app.link/HozE2bvBmU?_p=f4503a44f32dc261648a177f2460

[2019-05-03 16:01] maki3000 opened #76 "How to avoid mixed content when pulling og-image"
When an OG-image is served over HTTP instead of HTTPS the browser complains about mixed content. Is there a way to avoid that?

[2019-05-08 06:27] d-ivashchuk commented on #75
Experiencing the same issue! Probably because as already pointed out it’s a mirrored link and not the final link.

@hamedb89 Were you able to solve it?

I would appreciate clarification for this one, as I saw that it should work with redirects, however medium is for sure not working!

Thanks a lot🙌🏼

[2019-05-08 15:48] d-ivashchuk opened #77 "Medium short links are not supported"
Hey! Thanks a lot for your library, I am totally enjoying it and using in my telegram bot application. Stumbled on an issue and wanted to get your opinion:

https://link.medium.com/O8Wg18lGwW

The above link appears to have no data on promise resolve but success is still true. It redirects to completely different page and some openGraph checkers yield no results on it, although some return all the

[2019-05-14 09:02] d-ivashchuk commented on #77
To anyone landing on this issue keep in mind that medium links from the app redirect on the client which make it hard to get open graph tags. You need to download the html for that page and grab a final link from there!

[2019-05-15 00:11] jshemas commented on #75
Hello,

I started digging into this. `openGraphScraper` uses the request library to make http requests and one of the options that I use is `followAllRedirects`, which should follow all of the redirects.

request  docs: https://github.com/request/request#requestoptions-callback

Unfortunately this is the page I get when using request:
[code]

Request can't run javascript, so there is no way of get

[2019-05-15 00:13] jshemas commented on #77
Hello,

This is the same issue as https://github.com/jshemas/openGraphScraper/issues/75 so i'm going to close this issue.

[2019-05-15 00:13] #77 closed

[2019-05-15 00:13] jshemas commented on #76
Do you have an example of this?

[2019-05-15 20:52] d-ivashchuk commented on #75
How I solved this issue: just grabbed the body of the page with axios and with regex found the normal url which then can be processed by ogs. This is a good example of middleware function.

[2019-05-16 09:12] hamedb89 commented on #75
@d-ivashchuk Great idea Dimitri, I will try it out as soon as I can get to it. Great idea though thanks!

[2019-05-16 14:47] maki3000 commented on #76
For example CSS-Tricks https://css-tricks.com has:
`<meta property="og:image" content="https://css-tricks.com/wp-content/uploads/2014/03/css-tricks-star.png" />`
and
`<meta property="og:image:secure_url" content="https://css-tricks.com/wp-content/uploads/2014/03/css-tricks-star.png" />`.
The openGraphScraper doesn't take the secure_url. It's hard to give you a working example, as our platform, whe

[2019-06-12 16:22] maki3000 commented on #76
We now don't show images which are served over HTTP. But we check if a HTTPS resource is available like this:
[code]
I really don't know if that is a good solution, but it works...

[2019-07-15 17:46] saltire opened #79 "Update lodash to fix vulnerability"
Npm audit is reporting a vulnerability; fixed in lodash >=4.17.12.
Auto pull request here: https://github.com/jshemas/openGraphScraper/pull/78

[2019-07-16 01:38] jshemas commented on #79
thanks for the heads up!

fixed in `open-graph-scraper@3.6.2`

[2019-07-16 01:38] #79 closed

[2019-10-24 09:55] vedmant opened #80 "Simple example not working on my site"
Basic example is not working with my site:

[code]

Error:
[code]

[2019-11-21 06:56] r-mizuno opened #81 "stuck nodejs when non html pages specified"
If page other than html is specified and the url does not end with an extension, nodejs may get stuck.

For example, the following url:
http://rcc.jp/event/daiku/images/flier.pdf?191101

[2020-04-07 09:47] justinharkey commented on #76
@maki3000 I know this is very old but you could always serve the image without a protocol.

`testImage.src = metadata.ogImage.url.replace(/https?:/g, '');`

This would result in `//example.com/image.jpg`, No more mixed content warnings.

[2020-04-30 15:42] brum1975 commented on #81
I have similar issue for the following podcast/mp3 url
https://hwcdn.libsyn.com/p/9/8/4/98404bf5b3ea8781/SM359.mp3?c_id=11311877&cs_id=11311877&expiration=1588266993&hwt=f45ec9fb46433bf14a8ac86ead82b7d2

[2020-05-15 00:57] steve1000 commented on #72
You can use node's [promisify](https://nodejs.org/api/util.html#util_util_promisify_original) utility (Node 8.0+).

Something like this worked for me:

[code]

`async/await` should work too.

[2020-05-30 23:16] jshemas commented on #81
Hello, this should be fixed in the `4.0.0` version of this module.

[2020-05-30 23:16] #81 closed

[2020-05-30 23:16] jshemas commented on #80
Hello, can you try this on the 4.0.0 version of this module?

[2020-05-30 23:17] jshemas commented on #80
I added this as one of my tests cases and it seems to be working now.

Test case: https://github.com/jshemas/openGraphScraper/blob/master/tests/integration/encoding.spec.js#L51-L71

[2020-05-30 23:19] jshemas commented on #76
Hello, I don't really want change any of the page data in ogs. But I think the above answer will solve your problem.

[2020-05-30 23:19] #76 closed

[2020-05-30 23:20] jshemas commented on #75
Yes, using the `html` option in ogs is great way to solve this problem. Closing the issue.

[2020-05-30 23:20] #75 closed

[2020-05-30 23:21] jshemas commented on #72
In version `4.0.0` of ogs, it will now send back the `response` using promises.

[2020-05-30 23:21] #72 closed

[2020-05-30 23:23] jshemas commented on #55
In version `4.0.0` of ogs, I have updated the module to use `got.js` and that retry functionality build in.

More info: https://www.npmjs.com/package/got#retry

[2020-05-30 23:23] #55 closed

[2020-06-05 20:17] rynop opened #90 "Twitter scraping is not working"
Doesn't pull title, image etc.

Ex:
https://twitter.com/MarkRober/status/1256956499286298625

[code]

[2020-06-05 22:28] jshemas commented on #90
Hello, I only see the `og:site_name` and `og:title` meta tags on that page. I'm not sure why `title` isn't being returned. I will look into this.

[2020-06-05 23:01] jshemas commented on #90
It looks like you need JavaScript running in order for all of the meta tags to be there. You could use something like `puppeteer` to render the page with JavaScript running and then feed in the HTML into `openGraphScraper` using the `html` option.

[2020-06-05 23:55] rynop commented on #90
Yea sorry I shoulda been more clear - you are exactly right, not sure why the `og:title` isn't returning.

https://developer.twitter.com/en/docs/tweets/post-and-engage/api-reference/get-statuses-oembed is the open standard way to get embed HTML, but as you mention, it requires js execution.

[2020-06-08 15:10] #90 closed

[2020-06-26 09:20] AnishaChhatwani opened #93 "Getting are you a robot in response"
I am trying to fetch the metadata of this url:
https://www.bloomberg.com/news/articles/2020-06-24/pentagon-names-20-chinese-firms-it-says-are-military-controlled?cmpid=socialflow-twitter-business&utm_medium=social&utm_content=business&utm_source=twitter&utm_campaign=socialflow-organic

I get this in response:
{ ogTitle: 'Bloomberg - Are you a robot?', ogImage: [] }

I get the correct data when I r

[2020-06-26 12:05] fakhir-shad opened #94 "Cannot read property 'startsWith' of undefined"
Having trouble using ``openGraphScraper``, even with the default example i am getting error, i have tried different versions from 4.00 to 4.2.0 but received the same error. I have also tried removing the ``node_modules`` and ``package-lock.json``. I am using node 10.16.3
Using this example
[code]
I am getting this error
[code]
![Screenshot from 2020-06-26 16-44-54](https://user-images.githubuserco

[2020-06-26 22:15] jshemas commented on #94
Using your code example I am unable to reproduce the problem. I'm using Node `v10.16.3` and here are my resultes:
[code]

What operating system are you running this on? Do you see this with other websites?

Can you try running this with `open-graph-scraper@4.2.1` ? I added a extra check here https://github.com/jshemas/openGraphScraper/commit/fe499dda95b3faa3d37e2e5516c5d0ddfe3cf14c but I don't thi

[2020-06-26 22:35] jshemas commented on #93
Hello,

I have run into this issue a few times and this basically the same issue as https://github.com/jshemas/openGraphScraper/issues/49. In short, you are going to need to use a proxy because the website is blocking you from scripting it. Right now OGS does not support Proxies, but i'm hoping to build that support in the near future.

[2020-06-28 23:00] jshemas commented on #94
I got this error when messing with `https://www.npmjs.com/package/proxy-agent`, is your app using a proxy agent?
[code]

[2020-06-28 23:32] jshemas commented on #93
In the mean time, you could do the http request in your own app server with a proxy and just pass the HTML results into ogs.

[2020-06-28 23:33] jshemas commented on #80
Going to close this for now. Please reopen if you are still having this issue.

[2020-06-28 23:33] #80 closed

[2020-07-13 03:01] TylerAHolden commented on #61
In case anyone else needs this, solution for amazon found here: https://github.com/jhy/jsoup/issues/976 just need to set User-Agent

[2020-07-13 14:52] shih-js opened #99 "Limited response"
Using the latest version 4.3.1 and following the "usage example" returns limited results.

[code]

How do I get the og stuff?

[2020-07-13 23:14] jshemas commented on #99
Hello,

Running:
[code]
Returns this for me:
[code]

What version of node are you using? What OS are you using? Can you paste the output of `response` in here?

[2020-07-14 19:40] shih-js commented on #99
**Node:** v14.0.0
**OS:** macOS Catalina 10.15.4

I'm thinking it may have something to do with the fact that I'm running this in a serverless function using the Next.js framework.

[2020-07-14 21:36] jshemas commented on #99
Looks like there is something weird going on with node `v14.0.0`, but ogs works with node `v14.5.0`. Can you update?

[2020-07-14 21:46] shih-js commented on #99
Got it working after updating node to 14.5.0.
Cheers!

[2020-07-14 21:48] #99 closed

[2020-07-15 00:23] jshemas commented on #94
This might also be a issue with `got`, it only supports node `10.19.0` and up.

https://github.com/sindresorhus/got/blob/master/package.json#L10

[2020-07-22 17:07] jplonina opened #101 "Page not found"
Hi.
Thank you for your work on this library. I am really happy to use it.

Recently I got an issue while trying to get data from `https://cookpad.com/ru/recipes/7345377-piechienie-banan-s-tvoroghom`.

I got the error:

[code]

My version of OGS is 4.4.0 and options for the request are:
[code]

Do you have an idea why this might happen?

[2020-07-23 00:13] jshemas commented on #101
Hello,

It looks like `cookpad.com` is blocking that `user-agent`, it returns a `Response code 403 (Forbidden)` error.

Requests works without that `user-agent`.

[2020-07-23 01:18] jshemas commented on #68
You can now grab custom meta tags in `open-graph-scraper@4.5.0`

[2020-07-23 01:18] #68 closed

[2020-07-23 09:30] jplonina commented on #101
I removed `headers` and got the same result - `Response code 403 (Forbidden)` for url `https://cookpad.com/ru/recipes/7345377-piechienie-banan-s-tvoroghom`.

I tried also to get data for `https://cookpad.com/ru` and got the same error.

But interestingly for `https://cookpad.com` it worked correctly
[code]

[2020-07-23 23:20] jshemas commented on #101
Hitting `https://cookpad.com/ru/recipes/7345377-piechienie-banan-s-tvoroghom` returns

[code]

You might have to use a proxy for the request. You could do the http request in your own app server with a proxy and just pass the HTML results into ogs.

[2020-07-27 13:02] jplonina commented on #101
Thanks a lot for your time, it helped!

[2020-07-28 11:00] #101 closed

[2020-07-29 16:38] trwong opened #102 "Can't resolve 'http2' and Cannot read property 'split' of undefined"
Hi, I'm running into some issues using this package. I'm running `yarn add open-graph-package` and in the code I have:

[code]

and I get the following error:

[code]

I installed http2 with `yarn add http2` but then run into the following error:

[code]

Let me know if I can provide any additional information to help with this. Thank you!

[2020-07-29 21:35] jshemas commented on #102
Hello,

Using your code from above I was able to get this result (without using `yarn add http2`, using node v12.16.3):
[code]

Are you sure this error is coming from ogs? Can you post the full stack trace? What version of node are you on? What is your OS?

Is this a React app? I wonder if you are having the same issue as https://github.com/grpc/grpc-node/issues/610 or https://github.com/googleapi

[2020-07-31 14:47] NoCtrlZ1110 commented on #102
The same issue!
It works perfectly on my Nodejs backend.
But on my React client (init by using create-react-app) it say
`Module not found: Can't resolve 'http2'`
After installed http2 (with warning "WARN deprecated http2@3.3.7: Use the built-in module in node 9.0.0 or newer, instead"),
the client says error
`TypeError: Cannot read property 'split' of undefined`
 1 | "use strict";
  2 | Object.defi

[2020-08-04 02:54] jshemas commented on #102
@trwong @NoCtrlZ1110 Can one of you make a code repo with this problem? I'm not familiar with react and having a code repo with this problem would help me solve it.

[2020-08-17 18:27] runemy commented on #102
Trying to use this in a Vue App i get this error:

` ERROR  Failed to compile with 4 errors                                                                       7:18:00 PM

These dependencies were not found:

* dns in ./node_modules/cacheable-lookup/source/index.js
* http2 in ./node_modules/http2-wrapper/source/index.js, ./node_modules/http2-wrapper/source/client-request.js and 1 other`

[2020-08-18 22:54] jshemas commented on #102
@runemy Can you make a code repo with this problem? I'm not familiar with vue and having a code repo with this problem would help me solve it.

[2020-08-18 23:18] jshemas commented on #102
Actually this might be the problem https://github.com/sindresorhus/got/issues/1400

openGraphScraper uses `Got` for making HTTP requests. I'm not really sure how to fix this with having to rewrite a lot of stuff. I could make a fork of openGraphScraper without a request library.

[2020-08-19 13:53] runemy commented on #102
Hi @jshemas Yes, here is a code repo with this problem: https://github.com/runemy/vue-opengraph

[2020-08-20 00:54] jshemas commented on #102
This is awesome! Thanks for making this repo. I think i'm going to make a new module called `openGraphScraperLite` that will use `ky` for it's requests. Hopefully that will fix this problem. (This might take me a few days/weeks)

`ky` docs: https://github.com/sindresorhus/ky

[2020-09-09 00:40] steve1000 opened #107 "utils.isThisANonHTMLUrl causing false positives on domains that start with invalid image type strings"
For example: `https://www.target.com.au/path-to-product` will fail as `.tar` is one of the invalid image types. This causes the `Must scrape an HTML page` error.

Looking at the code I assume this will happen for any URL that has any of the invalid images types in its domain whether it be domain or sub-domain. E.g. `https://products.txtshop.com/product`

If I get a spare few mins I'll submit a PR

[2020-09-10 18:13] jshemas commented on #107
Great catch!!! Thank you for the PR, your changes are live in `open-graph-scraper@4.6.0`.

[2020-09-10 18:13] #107 closed

[2020-11-01 16:49] lukeocodes opened #110 "Pass through validator options in oGS options"
~Hey, I'm just trying to understand why http://localhost:3000 is invalid but 127.0.0.1 is valid? Is it the require_tld that it fails on in validator?~

https://github.com/jshemas/openGraphScraper/blob/3fb4fe12c8a5eb6a140edc713bbecc7b836a1d3e/tests/unit/utils.spec.js#L79

Before I opened this I found a mention in validator about exactly this, you can disable require_tld to get localhost to validate

[2020-11-02 18:13] hermhut opened #111 "Timeout for some urls"
Nevermind, delete this.

[2020-11-02 21:05] #111 closed

[2020-11-03 01:28] jshemas commented on #110
Hello! This is a great idea! I added it in `open-graph-scraper@4.7.0`.

Example:
[code]

[2020-11-03 01:28] #110 closed

[2020-11-14 21:04] haor3 commented on #102
is there any solutions for this issue?

[2020-11-16 22:52] jshemas commented on #102
Still working on this issue. I got `ky` to sorta work inside `openGraphScraper` but there is still a few edge cases I'm working on.

[2020-12-07 09:20] shingom opened #113 "Twitter doesn't response image etc"
It cause of this.
They response this page.
<img width="584" alt="Screen Shot 2020-12-07 at 18 17 42" src="https://user-images.githubusercontent.com/9330478/101332591-d72b2900-38b8-11eb-9bfb-b244da5d71e9.png">

[2020-12-07 21:57] jshemas commented on #113
Twitter does a lot of weird stuff to stop it from getting scraped. You can try setting your `user-agent` to different things like you did in your PR, but you might also run into the same as this problem: https://github.com/jshemas/openGraphScraper/issues/90

[2020-12-07 21:57] #113 closed

[2020-12-13 23:07] jshemas commented on #102
Okay. I made a new lib here -> https://github.com/jshemas/openGraphScraperLite and forked the example vue project here -> https://github.com/jshemas/vue-opengraph

I keep getting a bunch of CORS errors, but I think I'm getting really close to getting this to work.

[2020-12-19 11:53] runemy commented on #102
Hi,

Sounds good with this progress :) Good work.
I do also get these CORS errors.

![image](https://user-images.githubusercontent.com/7642256/102688749-f7cc7a80-41f8-11eb-8919-5aafe4664809.png)

[2021-01-23 03:20] t-lochhead commented on #61
if you're a noob like me, here is the full answer further to @TylerAHolden 's guidance

`const ogs = require("open-graph-scraper");
const options = {
  url: "https://amzn.to/2Is8sCR",
  headers: {
    "user-agent": "Googlebot/2.1 (+http://www.google.com/bot.html)",
  },
};
ogs(options, (error, results, response) => {
  console.log("error:", error); // This is returns true or false. True if there w

[2021-02-15 07:23] armandoarmando commented on #101
Hi @jshemas can you provide an example of how to implement the proxy solution?

Same problem trying to reach https://twitter.com/Austen

Thanks!

[2021-02-16 02:07] jshemas commented on #101
@armandoarmando can you open a new issue? You can try setting a `user-agent` like this issue: https://github.com/jshemas/openGraphScraper/issues/61

[2021-03-06 02:51] jshemas commented on #102
So, I'm starting to think this isn't really possible to do these types of requests in the browser. [This](https://serverpilot.io/docs/how-to-enable-cross-origin-resource-sharing-cors/) article has a good explanation.

[code]

[2021-03-06 05:44] jshemas commented on #49
Example of how to use proxies: https://github.com/jshemas/openGraphScraper#proxy-example

[2021-03-06 05:44] #49 closed

[2021-03-06 05:45] jshemas commented on #93
OGS now supports proxies! Example of how to use proxies: https://github.com/jshemas/openGraphScraper#proxy-example

You can also try setting the `user-agent` header.

[2021-03-06 05:45] #93 closed

[2021-03-08 03:47] catnose99 opened #118 "Strange fallback behavior with multiple title tags."
Hi. I've found multiple title tags are automatically concatenated and generate long ogTitle. I don't think this is the expected behavior.

**example1**
Html below generates ogTitle: `foobarbaz`
[code]

**example2**
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleString
This page has many title tags inside svg tags. Fetching the page causes ogTitle to b

[2021-03-08 04:16] #118 closed

[2021-03-08 04:29] jshemas commented on #118
Thanks for the PR. Fix is in `open-graph-scraper@4.8.1`

[2021-03-12 14:06] vrizo opened #120 "Page not found with any user agent"
Hi, @jshemas !

Thank you for the amazing tool! We use it for several years, and it works perfectly.

We’ve faced a problem with this url recently: `https://leroymerlin.ru/offer/industrialnyy-stil-v-interere/`.

OGS returns the following:

[code]

I’ve tried to delete or replace user agent according to [this issue](https://github.com/jshemas/openGraphScraper/issues/101), but it doesn’t help. Also

[2021-03-13 01:09] jshemas commented on #120
Hello,

It looks like `leroymerlin.ru` is blocking requests and returns a `Response code 403 (Forbidden)` errors.

[code]

Using the above code works and returns:

[code]

[2021-03-15 09:28] vrizo commented on #120
Wow, thanks a lot, @jshemas ! It works with your User Agent perfectly. Thank you!

[2021-03-15 09:28] #120 closed

[2021-06-08 09:46] rigroch opened #123 "is not working in tiktok"
page url:  https://vt.tiktok.com/ZSJ9GXELc/

and result.

{
  ogTitle: 'TikTok',
  charset: 'utf8',
  requestUrl: 'https://vt.tiktok.com/ZSJ9GXELc/',
  success: true
}

this page is already has og: tags.

but those is not showing.

[2021-06-09 02:11] jshemas commented on #123
Hello,

Using the following:
[code]

I get the following back:

[code]

Can you test this `user-agent`? You might have to use a different one.

[2021-06-10 00:45] jshemas commented on #123
So I've been digging into this some more and it looks like tiktok is sending the requests to a captcha page. So you might have to try using a proxy to make these requests if setting the `user-agent` doesn't work.

[Proxy example docs.](https://github.com/jshemas/openGraphScraper#proxy-example)

[2021-06-10 00:52] jshemas commented on #94
Closing due to inactivity and node10 has reached it's end of life.

[2021-06-10 00:52] #94 closed

[2021-06-29 13:58] naxxateux opened #126 "Page not found with fake user-agent and without user-agent"
Hi, @jshemas !

Thnx for the amazing tool!

I’ve faced a problem with this url: https://www.socialmediaexaminer.com/.

OGS returns the following:
[code]

I’ve tried to delete or replace user agent according to the same issues, but it doesn’t help. Could you help me please with debugging?

[2021-06-30 02:23] jshemas commented on #126
Hello,

It looks like the webserver is returning an `HTTPError: Response code 403 (Forbidden)` error. I'm not sure if there is a way around this but I can dig into it more.

[2021-06-30 17:40] naxxateux commented on #126
Strange url 🤔 Thnx for your help. I would be grateful if you could help with further debugging.

[2021-07-06 19:16] AidasMIT opened #127 "Angular usage."
Hi @jshemas, thanks for the module.
I faced an issue, I tried to use this module in angular project, however it simply brakes the app.
I used the guide to achieve this. https://angular.io/guide/using-libraries
Maybe you could provide me some details how to run this module in angular. Would be very thankful.

[2021-07-13 02:41] jshemas commented on #127
Hello,

I'm not familiar with Angular, but if you need `@types` you can check out https://www.npmjs.com/package/@types/open-graph-scraper

Here is an example of trying to get OGS working in `vue` https://github.com/jshemas/vue-opengraph but I ran into a bunch of cors issues. You can also try using https://github.com/jshemas/openGraphScraperLite

[2021-08-19 12:44] susampath-ceylonsolutions opened #130 "open-graph-scraper doesn't return response body with the use of proxy"
Hey,
I am using open-graph-scraper with proxies as mentioned in the documentation. It works fine with a normal start-up. As an example when I run the node program using `node server.js` it returns the result as follows.
`{
    "ogDescription": "Node.js scraper module for Open Graph and Twitter Card info",
    "ogTitle": "open-graph-scraper",
    "ogUrl": "https://www.npmjs.com/package/open-graph-s

[2021-08-20 00:41] jshemas commented on #130
Hello,

Can you try using `FROM keymetrics/pm2:14-alpine`? I was able to get that to work locally.

[2021-08-20 00:43] jshemas commented on #130
Example:

dockerfile
[code]
server.js
[code]

[2021-08-20 04:53] susampath-ceylonsolutions commented on #130
Hey @jshemas ,
Thanks a lot for the reply. I worked fine when I change the docker file as you have mentioned. I used not the header option but the proxy method.

   const tunnel = require('tunnel');
   const options = {
        url: 'https://whatismyipaddress.com/',
       timeout: 15000,
       agent: {
    https: tunnel.httpsOverHttp({
      proxy: {
        host: 'proxy_ip',
        port: proxy

[2021-08-20 04:54] #130 closed

[2021-08-23 08:20] mounikakella opened #131 "How to use this with Promise.all?"
I have used like this but it didn't give any og information
[code]
LMK how to use

[2021-08-31 21:49] jshemas commented on #131
Closing this for now. Reopen if you run into any more issues.

[2021-08-31 21:49] #131 closed

[2021-09-10 10:49] wobsoriano commented on #127
It's meant to be used with reverse proxy libraries like https://github.com/Rob--W/cors-anywhere

end of the day you can't just use it in a front-end app

[2021-10-21 08:18] YCKang opened #135 "Some url should not be parsed"
Hi, @jshemas.

Currently, this module check the url using `utils.isThisANonHTMLUrl(options.url)` before request the url.
But some url is a file link and the extension is not in the `invalidImageTypes` array, or the link has no extension even.
This module may cause high CPU usage due to parsed a non HTML link (actually is a file).

Although, some rare case the content-type may not exists in the res

[2021-10-24 00:13] jshemas commented on #123
Closing for now, let me know if you still need help.

[2021-10-24 00:13] #123 closed

[2021-10-24 00:16] jshemas commented on #126
You can try using a `proxy` with a `user-agent` but other then that, there isn't much we can do if the website is blocking scrapers.

[2021-10-24 00:16] #126 closed

[2021-10-24 00:57] jshemas commented on #135
Hello. I added a `content-type` check in `open-graph-scraper@4.10.0`. Let me know if that fixes your problem.

Code -> https://github.com/jshemas/openGraphScraper/blob/master/lib/request.js#L21-L23

[2021-10-24 00:57] #127 closed

[2021-10-24 00:58] jshemas commented on #102
Closing this for now. I think the best fix for this problem is to use a backend server to make the requests and then pass in the `html` into ogs.

[2021-10-24 00:58] #102 closed

[2021-11-12 03:10] kaname-png opened #139 "how to get the web page icon?"
I see that there is no option to get the icon of a web page, the so-called favicon, it is in a <link> element in the header and it can be easily obtained with cheerio.

If there is an option please tell me, if not then it would be great if you added that field since docTitle and docDescription already exist, it would be nice to have docFavicon or docIcon.

[2021-11-15 03:47] jshemas commented on #139
Hello. The `favicon` is not part of the [open graph protocol](https://ogp.me/) which is why it's missing. But this is a somewhat simple thing to add. You can now get `favicon` info using `open-graph-scraper@4.11.0`.

[2021-11-15 03:52] kaname-png commented on #139
@jshemas nice, thanks!

[2021-11-15 03:53] #139 closed

[2021-11-26 19:52] MaciejWiatr opened #141 "Enable es modules support"
Currently library doesn't seem to work when trying to import it using es module syntax
following snippet works just fine:
[code]

but when im trying to import it with following code

[code]

it throws

[code]

Can you possibly fix that? 🤔

Thanks for your awesome work!

[2021-11-28 13:51] rachidlamouri commented on #141
Looks like you're using typescript. Setting the [esModuleInterop](https://www.typescriptlang.org/tsconfig#esModuleInterop) flag to `true` in the `tsconfig` `compilerOptions` will fix the import.

[2021-11-29 13:29] MaciejWiatr commented on #141
It worked, thanks :)

[2021-11-29 13:29] #141 closed

[2021-12-06 21:14] ahetawal-p commented on #123
@jshemas I am facing the same problem with tiktok. I tried using the proxy and user agent, but still not able to get it working.
Here is my setup using proxies:
[code]

[2021-12-18 21:55] ahetawal-p opened #142 "Page not found when using User-Agent header"
I am using below options for making `ogs` requests:
[code]
But it seems like for AirBnb links, I am getting a Page Not found with the above options.
ex: https://www.airbnb.com/rooms/50977610?adults=2&federated_search_id=0e19e98d-0316-4af5-b012-5ce8ac79d193&source_impression_id=p3_1639862342_Jm6ObA%2F4k2zCnOw5&guests=1

While removing the User-Agent header fixes the airbnb problem, it causes other

[2021-12-23 04:33] jshemas commented on #142
It depends on how the web server is setup and how it handles the `User-Agent` header. I would recommend trying the request with a `User-Agent` header set and if that fails, then retry without a header. (Or find a new `user-agent` that works for all of your use cases)

[2021-12-25 02:12] ahetawal-p commented on #142
Any ideas how can I get a list of user agents to test with ?
Found another use case for `tripadvisor` urls, I am just getting `Time out` exception, even after removing UserAgent.

https://www.tripadvisor.com/Attraction_Review-g147416-d147523-Reviews-Queen_s_Staircase-Nassau_New_Providence_Island_Bahamas.html

[2021-12-29 01:29] jshemas commented on #142
I usually use the user agents listed here -> https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent OR https://deviceatlas.com/blog/list-of-user-agent-strings

`airbnb` is returning a `Response code 403 (Forbidden)` error most of the time... But sometimes the same request works without any changes.

It looks like `tripadvisor` is activity blocking scraping attempts. I can't get OGS t

[2022-01-07 21:56] ahetawal-p commented on #142
Thanks I will try these options out. Just wanted to know if there was some other way to abstract all these out.

[2022-01-07 21:56] #142 closed

[2022-05-26 08:15] 1337-ishaan opened #146 "Cointelegraph RSS not scraping"
https://cointelegraph.com/rss

this is the rss url for cointelegraph, it does'nt work with nodejs scrapping.

Kindly look into it.

[2022-05-27 02:37] jshemas commented on #146
This page doesn't have any Open Graph or Twitter Card info.

[2022-05-27 02:37] #146 closed

[2022-08-11 14:33] iamparthaonline opened #149 "Issue getting details for URLs with 302 Redirections - (node:26923) UnhandledPromiseRejectionWarning: Unhandled promise rejection"
Whenever I try to fetch any details for a URL which has 302 redirections, then the below issue is coming -

<img width="1432" alt="image" src="https://user-images.githubusercontent.com/19206108/184156983-984b45e7-2c9b-4231-82a6-48936764876d.png">

I tried getting details for the below URL -
`https://www.youtube.com/c/autocarindia1`

`I20220811-19:36:31.700(5.5)? options { url: 'https://www.youtube

[2022-08-15 02:57] jshemas commented on #149
Hello,

I'm able to see the true error using the code below.

[code]

Output:
[code]

[2022-08-15 06:04] iamparthaonline commented on #149
Hey Thanks, It was a small syntax issue. Thanks for the help.

[2022-08-15 06:04] #149 closed

[2022-09-28 18:03] flatypus opened #150 "download limit exceeded, is there a way to not request the html response as well? onlyGetOpenGraphInfo not working"
I tried scraping reddit.com but found that without setting the downloadLimit to like 10Mb, it won't let me run it, but it seems that the majority of the response is just the html response. Is there a way to only request the results data? I tried {onlyGetOpenGraphInfo:true} in options, but that didn't seem to work.

[2022-11-08 04:39] jshemas commented on #150
Hello. I can add a flag for returning the html response.

Note: The `downloadLimit` is option for the main HTTP call made by [GOT](https://github.com/sindresorhus/got) and you will exceed the limit on larger pages. (The idea is to stop users from downloading large files) Adding the flag for html response won't fix this problem.

[2022-11-08 05:42] flatypus commented on #150
Ah. I was just trying to get the graph info data for reddit, but i didn't know why it kept exceeding the limit even when I only needed an image and some text.

[2022-11-16 04:03] flatypus commented on #150
Oh! I didn't know about the downloadLimit: false setting. Thanks!

[2022-11-16 04:03] #150 closed